/mnt/c/Users/BMcKr/Documents/Academia/trapping_assay/PyPrimer/example_files/genome_gff/
/mnt/c/Users/BMcKr/Documents/Academia/trapping_assay/PyPrimer/example_files/feature_table/
/mnt/c/Users/BMcKr/Documents/Academia/trapping_assay/PyPrimer/.venv